<h2>What genres do you like?</h1>
<div>
  <% @genres.each do |genre| %>
  <div>
    <%= link_to genre.name, books_path(activity_id: params[:activity_id], genre_id: genre.id) %>
  </div>
  <% end %>
</div>